* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

.container {
	max-width: 1024px;
  	margin: 0 auto;
}

.options {
	text-align: center;
}

@media (max-width: 768px) {
	.container {
		max-width: 768px;
	}
}
